.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.from, .to{
  background-color: transparent;
  padding:12px;
  max-width:50px;
  outline: none;
  border: 2px solid #fff;
  margin: 12px;
  text-align: center;
}
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button
{
  -webkit-appearance: none;
  margin:0;
}
.generate_btn{
  background-color: #000;
  border: none;
  max-width: 100%;
  border: 2px solid #fff;
  border-radius: 5px;
  padding:12px;
  transition:all 0.2s;
  cursor: pointer;
}
.generate_btn:hover{
  background-color: grey;
}