.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  gap:20px;
  padding:10px;
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
}
.pass_input{
  background-color: transparent;
  width: 100%;
  border: 2px solid #fff;
  outline:none;
  padding:12px;
  font-size:18px;
  font-weight:bold;
}
hr{
  width:100%;
}
.options{
  display: flex;
  justify-content: space-between;
}
.copy_btn{
  background-color: #000;
  border: 1px solid #fff;
  padding:16px;
  cursor: pointer;
  margin-left:10px;
}
.choices{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap:10px;
}
.choice{
  background-color: #000;
  border: 1px solid #fff;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding:12px;
  position: relative;
  text-align: center;
  transition: background-color 0.2s;
}
.checkmark{
  position:absolute;
  top: 0;
  left:0;
  right:0;
  bottom: 0;
  cursor: pointer;
  width:100%;
  opacity: 0;
}
.choice:has(.checkmark:checked){
  background-color: grey;
  opacity: 1;
}
.generate_btn{
  padding:8px;
  border-radius: 5px;
  border: 2px solid #fff;
  cursor: pointer;
  background-color: #000;
  font-size: 16px;
  transition:all 0.3s;
  width: 100%;
}
.generate_btn:hover{
  background-color: grey;
}
.length_container{
  display: flex;
  column-gap: 20px;
  justify-content: center;
  align-items: center;
}

.pass_length{
  appearance: none;
  overflow:hidden;
  -webkit-appearance: none;
  background-color: grey;
  overflow: hidden;
}
input[type="range"]::-webkit-slider-runnable-track{
  -webkit-appearence:none;
  color:black;
  height:6px;
}
input[type="range"]::-webkit-slider-thumb{
  -webkit-appearance: none;
  background-color:#fff;
  height: 20px;
  width:10px;
  cursor: pointer;
}
